.dashboard{
    height: 100%;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.downloadbtn{
    padding: .5rem 1rem;
}

.main{
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 155px;
    gap: 1rem;
}

.largebox{
    grid-column : span 8;
    grid-row  : span 2;
    background-color: #142038;
    padding: 1.5rem;
    border-radius : 0.55rem;
} 

.mediumbox{
    grid-column: span 4;
    grid-row: span 2;
    background-color:  #142038;
    border-radius : 0.55rem;
    padding: 1rem;
    
    /* position: relative; */
}