.sidebar{
    background-color: #142038;
    padding: 1em 0;
    height: 100vh;
    position: absolute;
    width: 60%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
}

.openSidebar{
    transform: translateX(0);
}

.logo__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5em 2em 2em 3em;
}


.listTitle{
    margin: 2.25rem 0 1rem 3rem;
}

.active{
    background-color: #F9EBE0;
    color: #142038;
}

.navList{
    margin: .5rem 0 0rem 0rem;
    font-size: .8rem;
    /* background-color: aquamarine; */
}

.listItem{
    display: flex;
    align-items: center;
}

.listItem span {
    display: flex;
    align-items: center;
}

.userPanel {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    height: 70px;
    font-size: 0.8rem;
}

.userContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 3rem 0 3rem;
}

@media screen and (min-width: 590px) {
    .sidebar{
        width: 350px;
        height: 100vh;
        position: initial;
        top: initial;
        left: initial;
        transform: translateX(0);
    }
}