

.container{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
    font-size: .8rem;
    margin-top: 1rem;
}

.table{
    width: 100%;
    border: 1px solid rgba(245, 245, 245, 0.20);
    padding: .5rem;
    border-collapse: collapse;
}

.border{
    border: 1px solid rgba(245, 245, 245, 0.20);
    padding: 0 .5rem;
}